ASPWebsite/ASPWebsite/Service References/SEService/ServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://border/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServiceService" targetNamespace="http://border/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/JavaSide/ServiceService?xsd=1" namespace="http://border/" />
    </xsd:schema>
  </types>
  <message name="calculateJS">
    <part name="parameters" element="tns:calculateJS" />
  </message>
  <message name="calculateJSResponse">
    <part name="parameters" element="tns:calculateJSResponse" />
  </message>
  <message name="checkUser">
    <part name="parameters" element="tns:checkUser" />
  </message>
  <message name="checkUserResponse">
    <part name="parameters" element="tns:checkUserResponse" />
  </message>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword" />
  </message>
  <message name="changePasswordResponse">
    <part name="parameters" element="tns:changePasswordResponse" />
  </message>
  <message name="createUserAccount">
    <part name="parameters" element="tns:createUserAccount" />
  </message>
  <message name="createUserAccountResponse">
    <part name="parameters" element="tns:createUserAccountResponse" />
  </message>
  <portType name="Service">
    <operation name="calculateJS">
      <input wsam:Action="http://border/Service/calculateJSRequest" message="tns:calculateJS" />
      <output wsam:Action="http://border/Service/calculateJSResponse" message="tns:calculateJSResponse" />
    </operation>
    <operation name="checkUser">
      <input wsam:Action="http://border/Service/checkUserRequest" message="tns:checkUser" />
      <output wsam:Action="http://border/Service/checkUserResponse" message="tns:checkUserResponse" />
    </operation>
    <operation name="changePassword">
      <input wsam:Action="http://border/Service/changePasswordRequest" message="tns:changePassword" />
      <output wsam:Action="http://border/Service/changePasswordResponse" message="tns:changePasswordResponse" />
    </operation>
    <operation name="createUserAccount">
      <input wsam:Action="http://border/Service/createUserAccountRequest" message="tns:createUserAccount" />
      <output wsam:Action="http://border/Service/createUserAccountResponse" message="tns:createUserAccountResponse" />
    </operation>
  </portType>
  <binding name="ServicePortBinding" type="tns:Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="calculateJS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="checkUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createUserAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServiceService">
    <port name="ServicePort" binding="tns:ServicePortBinding">
      <soap:address location="http://localhost:8080/JavaSide/ServiceService" />
    </port>
  </service>
</definitions>