ASPWebsite/ASPWebsite/Service References/SEService/ServiceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://border/" targetNamespace="http://border/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hellothere" type="tns:hellothere" />
  <xs:element name="hellothereResponse" type="tns:hellothereResponse" />
  <xs:complexType name="hellothere">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="hellothereResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>