ASPWebsite/ASPWebsite/Service References/SEService/ServiceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://border/" targetNamespace="http://border/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calculateJS" type="tns:calculateJS" />
  <xs:element name="calculateJSResponse" type="tns:calculateJSResponse" />
  <xs:element name="changePassword" type="tns:changePassword" />
  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
  <xs:element name="checkUser" type="tns:checkUser" />
  <xs:element name="checkUserResponse" type="tns:checkUserResponse" />
  <xs:element name="createUserAccount" type="tns:createUserAccount" />
  <xs:element name="createUserAccountResponse" type="tns:createUserAccountResponse" />
  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateJS">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:unsignedShort" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateJSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:calculation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculation">
    <xs:sequence>
      <xs:element name="aveCommuteTime" type="xs:double" />
      <xs:element name="aveRidersArea" type="xs:int" />
      <xs:element name="commuteTime" type="xs:double" />
      <xs:element name="commuteType" type="xs:unsignedShort" />
      <xs:element name="createdTime" type="xs:long" />
      <xs:element minOccurs="0" name="homeLoction" type="tns:address" />
      <xs:element name="jobInterest" type="xs:int" />
      <xs:element name="medianSalary" type="xs:int" />
      <xs:element name="monthlyCommuteCost" type="xs:double" />
      <xs:element name="ridersArea" type="xs:int" />
      <xs:element name="salary" type="xs:int" />
      <xs:element minOccurs="0" name="workLocation" type="tns:address" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="xs:string" />
      <xs:element name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="locationName" type="xs:string" />
      <xs:element name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>