ASPWebsite/ASPWebsite/Service References/SEService/ServiceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://border/" targetNamespace="http://border/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="changePassword" type="tns:changePassword" />
  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
  <xs:element name="checkUser" type="tns:checkUser" />
  <xs:element name="checkUserResponse" type="tns:checkUserResponse" />
  <xs:element name="createUserAccount" type="tns:createUserAccount" />
  <xs:element name="createUserAccountResponse" type="tns:createUserAccountResponse" />
  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUserAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>